

<div>
		<div>
			There will be a surprise on a certain round :)
		</div>
		<div id = 'round'>
			Round: 
		</div>
		<button id = "reset" onClick = "resetBoard()">
			Reset board
		</button>
		<div id = 'secretPath'>

		</div>
	</div>
	<div id="mainScreen">
		
		<div class="header">
			<p id = "greetings">
				You must 'win' the game in order to get the prize 
			</p>
			<p id = "player">
			</p>
		</div>
		<div id = "board">
			<div class="row">
				<div id = "tile0-0" class = "tile" onclick="move('tile0-0',[0,0])" >
					-
				</div>
				<div id = "tile0-1" class = "tile" onclick="move('tile0-1',[0,1])">
					-
				</div>
				<div id = "tile0-2" class = "tile" onclick="move('tile0-2',[0,2])">
					-
				</div>
			</div>
			<div class="row">
				<div id = "tile1-0" class = "tile" onclick="move('tile1-0',[1,0])">
					-
				</div>
				<div id = "tile1-1" class = "tile" onclick="move('tile1-1',[1,1])">
					-
				</div>
				<div id = "tile1-2" class = "tile" onclick="move('tile1-2',[1,2])">
					-
				</div>
			</div>
			<div class="row">
				<div id = "tile2-0" class = "tile" onclick="move('tile2-0',[2,0])">
					-
				</div>
				<div id = "tile2-1" class = "tile" onclick="move('tile2-1',[2,1])">
					-
				</div>
				<div id = "tile2-2" class = "tile" onclick="move('tile2-2',[2,2])">
					-
				</div>
			</div>
		</div>
	<div class = "prompt">
		<p>
			Choose your player:
		</p>
	</div>
	<div class = "button-container">
		<div>
			<button class = "choices" id = "buttonX" onclick="choosePlayer('X')">X</button>
		</div>
		<div>
			<button class = "choices" id = "buttonO"  onclick="choosePlayer('O')">O</button>
		</div>
	</div>

	

	</div>